# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
ENV/
env/

# Database
*.sqlite3
*.db

# Django
*.log
staticfiles/
media/
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# Environment
.env
.env.local